@import url("normalize.css");

/* Variables globales */
:root {
        --color-primary: #d73953; /* Couleur primaire */
        --color-black: #090909; /* Couleur noire */
        --color-white: #ffffff; /* Couleur blanche */
        --color-light-grey: #f3f3f3; /* Couleur grise claire */
        --color-dark-grey: #353535; /* Couleur grise foncée */
        --text-color: var(--color-black); /* Couleur du texte */
        --font-family-base: 'Open Sans','Helvetica Neue', Helvetica, Arial, sans-serif; /* Police de caractères de base */
        --font-family-title: 'Raleway', 'Helvetica Neue', Helvetica, Arial, sans-serif; /* Police de caractères pour les titres */
        --font-size-small: 1.2rem; /* Taille de police petite */
        --font-size-medium: 1.6rem; /* Taille de police moyenne */
        --font-size-large: 1.8rem; /* Taille de police grande */
        --font-size-x-large: 2.3rem; /* Taille de police très grande */
        --font-size-xx-large: 4.8rem; /* Taille de police extrêmement grande */
        --font-weight-regular: 400; /* Poids de la police régulier */
        --font-weight-bold: 700; /* Poids de la police en gras */
        --line-height-small: 1.2; /* Hauteur de ligne petite */
        --line-height-base: 1.5; /* Hauteur de ligne moyenne */
        --line-height-big: 1.8; /* Hauteur de ligne grande */
        --section-header-align: center; /* Alignement horizontal de l'en-tête de section */
        --section-tagline-transform: uppercase; /* Transforme les lignes du texte en majuscule */
        --section-title-margin: 0; /* Definir la taille des marges sur les 4 côtes */
        --section-title-color: var(--color-black); /* couleur noir pour les titres sections */
        --section-padding: 5rem 0; /* Définition de la marge des sections */
        --section-header-padding: 0 0 3rem; /* Définition de la marge du header des sections */
        --section-body-padding: 0 0 3rem; /* Définition de la marge du corps des sections */
        --section-footer-padding: 3rem 0 0; /* Définition de la marge du footer des sections */
        --section-footer-align: center; /* Définition de l'alignement horizontal du footer des sections */
        --footer-padding: 5rem 0 1rem; /* Définition de la marge du footer */
        --nav-item-font-family: var(--font-family-title); /* Police de caractères */
        --nav-item-font-weight: var(--font-weight-bold); /* Poids de la police */
        --nav-item-font-size: var(--font-size-medium); /* Taille de police */
        --nav-item-letter-spacing: 4%; /* Espacement entre les caractères */
        --nav-item-display: inline-block; /* Affichage en ligne */
        --nav-item-margin: 0 0 calc(var(--font-size-medium) * 3) 0; /* Marge */
        --nav-item-link-hover: var(--color-primary); /* Couleur au survol */
    }

    /* La règle s'applique à tous les éléments, ainsi qu'à leurs pseudo-éléments ::before et ::after */
    *, *:before, *:after {
      /* La boîte du modèle de la zone de contenu comprend à la fois le contenu et le remplissage, mais exclut la bordure et la marge */
      box-sizing: border-box;
    }

    
    /* Styles pour l'élément HTML */
    html {
        scroll-behavior: smooth; /* Comportement de défilement fluide */
        font-size: 62.5%; /* Taille de police de base */
    }
    
    /* Styles pour le corps du document */
    body {
        color: var(--text-color); /* Couleur du texte */
        font-family: var(--font-family-base); /* Police de caractères */
        font-size: var(--font-size-medium); /* Taille de police */
        font-weight: var(--font-weight-regular); /* Poids de la police */
        line-height: var(--line-height-base); /* Hauteur de ligne */
    }
    
    /* Styles pour les liens */
    a:link {
        color: #161616; /* Couleur des liens */
        text-decoration: none; /* Pas de soulignement */
    }
    /* Cible l'état visité du lien */
    a:visited {
        font-style: italic; /* Italique pour le texte */
    }
    /* Cible l'état de survol du line */
    a:hover {
        text-decoration: underline; /* Soulignement pour le survol */
    }
    /* Cible l'etat actif pour le line */
    a:active {
        background-color: var(--color-light-grey); /* Couleur de fond pour l'état actif */
    }
    
    
    /* Styles pour les titres */
    h1, h2, h3, h4, h5, h6 {
        font-family: var(--font-family-title); /* Police de caractères */
        font-weight: var(--font-weight-bold); /* Poids de la police */
    }

    /* Ciblage de la classe navbar-menu, laissez-la flotter à droite */
    .navbar-menu {
      float: right;
    }

    /* Styles pour la classe nav */
    nav {
      margin: 0; /* Aucune marge */
      padding: 0; /* Aucun rembourrage */
      text-align: center; /* Alignement centralisé du texte */
    }

    /* Styles pour la classe nav-link dans la classe nav */
    nav .nav-link {
      display: block; /* Affichage en bloc */
      padding: calc(var(--font-size-medium) / 2) var(--font-size-medium); /* Rembourrage */
    }

    /* Effet au survol pour la classe nav-link dans la classe nav */
    nav .nav-link:hover {
      color: var(--nav-item-link-hover); /* Couleur au survol */
    }
    
    /* Styles pour les éléments cachés visuellement */
    .visually-hidden {
        display: none; /* Masquer l'élément */
    }
    
    /* Styles pour les catégories de cartes */
    .card-category {
        color: var(--color-primary); /* Couleur de la catégorie de carte */
    }
    
    /* Styles pour le slogan de section */
    .section-tagline {
        color: var(--color-primary); /* Couleur du slogan de section */
        font-family: var(--font-family-title);
    }
    /* Section padding */
    .section {
      padding: var(--section-padding); /* Applique la marge définie pour les sections */
    }

    /* Section header padding */
    .section-header {
      padding: var(--section-header-padding); /* Applique la marge définie pour les headers des sections */
    }

    /* Section body padding */
    .section-body {
      padding: var(--section-body-padding); /* Applique la marge définie pour les corps des sections */
    }

    /* Section footer padding and alignment */
    .section-footer {
      padding: var(--section-footer-padding); /* Applique la marge définie pour les footers des sections */
      text-align: var(--section-footer-align); /* Alignement horizontal du texte dans le footer */
    }

    /* Footer padding */
    .footer {
      padding: var(--footer-padding); /* Applique la marge définie pour le footer */
    }
        
    
    .container {
        width: 960px;
        margin-left: auto;
        margin-right: auto;
    }

    
    /* Style pour les titres des sections */
    .section-title {
        font-family: var(--font-family-title); /* Police de caractères pour les titres */
        font-size: var(--font-size-xx-large); /* Taille de police */
        font-weight: var(--font-weight-bold); /* Poids de la police */
        margin: var(--section-title-margin); /* Definir la taille des marges sur les 4 côtes */
        color: var(--section-title-color); /* couleur noir pour les titres sections */
    }